.box-shadow{
  padding: 30px;
  -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.24);
}

.box-center {
  height: 100%;
  min-height: 600px;
  padding: 50px;
}

